body {
    font-family: Alexandria;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #fff;
    text-align: center;
}

.social-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.social-icons .icon {
    text-decoration: none;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 15px;
    margin: 5px;
border-radius: 25px;
    font-size: 18px;
    transition: background-color 0.3s, transform 0.3s;
}

.social-icons .icon:hover {
    background-color: #ffffff;
    color: #6e45e2;
    transform: scale(1.1);
}


nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #1e1e1e;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    background: url('collage.webp') no-repeat center center/cover;
}

.btn {
    padding: 10px 20px;
    background: #ff6500;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
}

.btn2 {
     padding: 5px 5px;
    background: #868480;
    font-family: FontAwesome;
    height: 25px;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;

}
.services-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px;
}

.service-box {
    background: #1e1e1e;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    text-align: center;
}

.service-box i {
    font-size: 40px;
    margin-bottom: 10px;
    color: #ff6500;
}

.portfolio-container img {
    width: 30%;
    margin: 10px;
    border-radius: 10px;
}

.hero img {
    width: 30%;
    margin: 10px;
    border-radius: 10px;
}
footer {
    background: #1e1e1e;
    padding: 10px;
}
