/*style.css*/
body {
    font-family: "Readex Pro", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f8;
    color: #fff ;
    text-align: center;
}
html {
    scroll-behavior: smooth;
     direction:rtl;
}
a {
  text-decoration: none;
}
/* تأثير Fade-in لجميع الصور تلقائيًا */
img {
    opacity: 0;
    transform: translateX(-50px);
    animation: fadeInUp 1s ease forwards; /* تشغيل الأنيميشن */
}

/* تعريف الأنيميشن */
@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

p{
    padding-bottom: 20px;
}
.filter-buttons {
    margin: 20px 0;
}
.back-to-top {
    position: fixed;
    display: none;
    background: #fed43b;
    color: #fff;
    width: 44px;
    height: 44px;
    text-align: center;
    border-radius: 50px;
    line-height: 1;
    font-size: 22px;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
    z-index: 9;
}

.back-to-top:hover {
    color: #fff;
    background: #121518;
}

.back-to-top i {
    padding-top: 10px;
}


.filter-btn {
  font-family: "Readex Pro", sans-serif;
    box-shadow: 0 5px 8px 0 rgb(0 0 0 / 10%);
    padding: 10px 20px;
    margin: 5px;
    border: 0px;
    background: white;
    cursor: pointer;
    font-size: 16px;
    color: black;
    border-radius: 50px;
      transition: font-size 0.2s ease-in-out , background 0.2s ease-in-out;
}

.filter-btn.active {
        background-color: #fed43b;
   color: white;
}
.filter-btn:hover{
     font-size: 18px;
     background: #fed43b;
    color: white;
}
/* المعرض */
.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 20px;
}

.gallery-item {

    height: 500px;
    overflow: hidden;
    border-radius: 10px;
  
    transition: transform 0.3s ease-in-out;
}

.gallery-item img,
.gallery-item video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-item:hover {
    transform: scale(1.05);
}

section{
    scroll-margin-top: 80px;
    
    padding: 100px 0 100px 0;
}
.social-icons {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.social-icons .icon {
    text-decoration: none;
    color: #fff;
    padding: 15px;
    margin: 5px;
border-radius: 25px 20px 20px;
    font-size: 18px;
    transition: background-color 0.3s, transform 0.3s;
    width: 20px;
    height: 20px;
}

.social-icons .icon:hover {
   
    color: #fed43b;
    transform: scale(1.05);
}


/* تحسين الشريط العلوي ليكون متجاوبًا */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    background: #fff;
    position: fixed;
        width: -webkit-fill-available;
    top: 0;
    left: 0;
    z-index: 1000;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    position: fixed;
    padding: 0 0 0 30px;
    display: flex;
    margin: 10px 0 0 0;
    color: white;
}
.logo img {
  max-width: 10%;
    height: auto; /* للحفاظ على النسبة */
 
}
.nav-links {
    z-index: 99;
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline-block;
}

.nav-links a {
    color: rgb(75 85 99 / var(--tw-text-opacity, 1));
    text-decoration: none;
    font-size: 16px;
       transition: font-size 0.1s ease-in-out, color 0.1s ease-in-out;
}
.nav-links a:hover{
    color: #fed43b;
 
      font-size: 18px;
}

/* زر تغيير اللغة */
#langToggle {
    background: none;
    border: 1px solid white;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
}

/* قائمة الهاتف */
.menu-toggle {
    display: none;
    font-size: 24px;
    color: black;
    cursor: pointer;
    z-index: 110;
}

/* جعل القائمة منسدلة على الجوال */
@media (max-width: 768px) {
    .logo img {
        padding-right: 60px;
        padding-bottom: 10px;
    }
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background: #1e1e1e;
        width: 100%;
        text-align: right;
        padding: 10px 0;
    }

    .nav-links li {
        padding: 10px;
    }

    .menu-toggle {
                display: flex;
        margin-left: auto;
    }

    .nav-active {
        display: flex;
    }
}


.hero {
 position: relative;
display: flex;
align-items: center;
justify-content: center;
height: 90vh;
background: linear-gradient(60deg, #fed43b, #a5784d);

background-size: 100% 300%; /* طول أكبر من العرض للتحرك عمودياً */
animation: gradientMove 12s linear infinite;
overflow: hidden;
}

/* حركة التدرج */
@keyframes gradientMove {
        0% { background-position: 0% 0%; }
    50% { background-position: 0% 100%; }
    100% { background-position: 0% 0%; }
}

/* العناصر المتحركة */
.particle {
    position: absolute;
    width: 10px;
    height: 10px;
    background: rgba(255, 140, 0, 0.7);
    border-radius: 50%;
    filter: blur(1px);
    animation: floatParticle linear infinite;
}

/* حركة العناصر */
@keyframes floatParticle {
    0% { transform: translateY(0) translateX(0); opacity: 0.7; }
    50% { transform: translateY(-60px) translateX(25px); opacity: 1; }
    100% { transform: translateY(0) translateX(0); opacity: 0.7; }
}


.btn {
        transition: background 0.1s ease-in-out, color 0.1s ease-in-out;
    padding: 10px 20px;
   
    color: #fff;
           border-width: 2px;
        border-style: solid;
    border-radius: 5px;
    text-decoration: none;
    position: relative;
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
transition-duration: 150ms;
}

.btn:hover {
   
    border-width: 0px;
    color: #fed43b;
   background: #fff;

}
.btnn {
     transition: background 0.1s ease-in-out, color 0.1s ease-in-out;
    padding: 10px 20px;
    color: #fed43b;
    background: #7b4f22;
    border-radius: 5px;
    text-decoration: none;
    position: relative;
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;

    transition-duration: 150ms;

}
.btnn:hover {
   
      border-width: 2px;
        border-style: solid;
    color: white;
    background : #ffffff00;

}
.btn .arrow {
    font-size: 16px;
    animation: down 1s infinite;
}

/* حركة السهم */
@keyframes down {
    0% { transform: translateY(-3px); }
    50% { transform: translateY(3px); }
    100% { transform: translateY(-3px); }
}
.btn2 {
     padding: 5px 5px;
    background: #868480;
    font-family: FontAwesome;
    height: 25px;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;

}
.services-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px;
}

.service-box {
    background: #1e1e1e;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    text-align: center;
}

.service-box i {
    font-size: 40px;
    margin-bottom: 10px;
    color: #ff6500;
}

.portfolio-container img {
    width: 30%;
    margin: 10px;
    border-radius: 10px;
}

.hero img {
    width: 65%;
    margin: 10px;
    border-radius: 10px;
}
footer {
    padding-top: 50px;
    background: rgb(17 24 39) ;
    
}







